// Variables de couleur 
$primary-color: #d33e44;
$brand-primary: #38b2ff;
$default-color: #999999;
$default-color-hover: #777777;
$primary: #000000;
// Variables de polices
$primary-font: 'Roboto', sans-serif;
$font: "Arial", "Helvetica", sans-serif;