// Variables de couleur 
<<<<<<< HEAD
$primary-color:   #d33e44;
$primary: #000;

// Variables de polices
$primary-font:  'Roboto', sans-serif;
$font: "Arial", "Helvetica", sans-serif;
=======
$primary:  #000;
>>>>>>> 13b7b752d95074fd6d2a3a54998ea95766383e94
